[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
requests = "*"
crayons = "*"
pyxdg = "*"

[dev-packages]
"autopep8" = "*"
"flake8" = "*"
"flake8-colors" = "*"
pytest = "*"
pyyaml = "*"
