[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
requests = "*"

[dev-packages]
green = "*"
"autopep8" = "*"
"flake8" = "*"
"flake8-colors" = "*"
